* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-color: hsl(0, 0%, 7%);
  /* overflow: hidden; */
  /* height: 100vh; */
  font-family: sans-serif;
}
.bg-youtube {
  background-color: hsl(0, 0%, 7%);
}

/* width */
.hide-scroll-bar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.hide-scroll-bar::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
.hide-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  height: 100px;
}

/* Handle on hover */
.hide-scroll-bar:hover::-webkit-scrollbar-thumb {
  background: #555;
}
.home-left-options {
  transition: 0.3s;
}
.home-left-options:hover {
  background-color: hsl(0, 0%, 18.82%);
}
@media (min-width: 1200px) {
  .videos-container {
    margin-left: 200px !important;
  }
}

@media (max-width: 1024px) {
  .side-bar {
    transform: translateX(-100%);
    background-color: hsl(0, 0%, 7%);
    z-index: 10;
    width: 75vw;
    transition: 0.3s;
    height: calc(100dvh - 58px);
    top: 60px;
  }
  .side-bar-active {
    transform: translateX(0);
  }
}
@media (max-width: 1024px) and (min-width: 500px) {
  .side-bar {
    width: 50vw;
  }
}
.video-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
}
.video-title-search {
  -webkit-line-clamp: 1;
}
input {
  border: 0;
  box-shadow: none !important;
}
